<div class="container">
  <br>
  <h4 class="text-center">Enter your personal informations</h4>
  
  <!-- <div class="alert alert-danger" *ngIf="form.invalid && (form.dirty || form.touched)" role="alert">{{form.valid}}</div> -->
    <div class="card-body  justify-content-center">
    <form [formGroup]="form"   (ngSubmit)="register()">

        <div class="form-group">
            <label >First Name</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="first name">
          </div>
          <div class="form-group">
            <label >Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="last name">
          </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="email@example.com">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <span *ngIf="f.email.invalid && f.email.touched"><small class="text-danger">inavalid email</small></span>
        </div>

        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="10 digit">
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="confirm-Password">
          </div>
       <span *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched"><small class="text-danger">Password do not match.</small></span>
        <button [disabled]="form.invalid  " type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>